<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <h1>OOPS page not found...Check your url</h1>
    <nav><a href="/index">Homepage</a></nav>

    <%- include('./partials/footer.ejs')%>
</body>
</html>