<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <h2 style="text-align: center;">Amazon Price Tracker</h2>

<div class="container">
  <form action="/index" method="POST">
  
    <div class="row">
      <div class="col-25">
        <label for="url"> Amazon Product URL</label>
      </div>
      <div class="col-75">
        <input type="url" id="url" name="url" placeholder="Enter your Amazon Product webpage link (eg. https://www.amazon.in/Samsung-Galaxy-Cloud-128GB-Storage/dp/B08VB2MRF8/ref=sr_1_1_sspa?keywords=mobile&qid=1657306948&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyTjlQWjczWTRZWVEyJmVuY3J5cHRlZElkPUExMDMzMzU4OFNQUk9ITlo4WkJTJmVuY3J5cHRlZEFkSWQ9QTA0NjkzMzUxVUo2MlFMU0hGOE5KJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==)" required>
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="minprice">Minimum Price</label>
      </div>
      <div class="col-75">
        <input type="text" id="minprice" name="minprice" placeholder="Enter your Desired Price for that product (eg. 36000)" required>
      </div>
    </div>
   
    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <input type="email" id="email" name="email" placeholder="Enter your email for notifications if price drops below your desired minimum price (eg. john@gmail.com)" required>
      </div>
    </div>
    
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>