<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    
   <h3> You will be notified via your email when product price drops below your desired price..</h3>
   <h1>ThankYou</h1>

   <%- include('./partials/footer.ejs')%>
</body>
</html>